@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

p.event_desc {
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #f00;
  font-size: 16px;
}

body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

.descr {
	width: 150px;
	display: inline-block;
	/*float: left;*/
}

.mycontent {
	width: 150px;
	display: inline-block;
	/*float: left;*/
	/*overflow: hidden;*/
}

.reps-strength-form {
	width: 50px;
	display: inline-block;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
	margin-left: 0px;
	margin-right: 0px;
}

.mycontent2 {
	width: 120px;
	display: inline-block;
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
	font-size: 12px;
	/*float: left;*/
	/*overflow: hidden;*/
}

.mycontent3 {
	width: 30px;
	display: inline-block;
	font-size: 10px;
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
	/*float: left;*/
	/*overflow: hidden;*/
}

.mycontent4 {
	width: 110px;
	display: inline-block;
	font-size: 12px;
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
	/*float: left;*/
	/*overflow: hidden;*/
}

.mycontent5 {
	width: 60px;
	display: inline-block;
	font-size: 12px;
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
	/*float: left;*/
	/*overflow: hidden;*/
}

.mycontent6 {
	max-width: 210px;
	min-width: 150px;
	display: inline-block;
	/*float: left;*/
	/*overflow: hidden;*/
}

.mycontent7 {
	max-width: 90px;
	min-width: 80px;
	display: inline-block;
	/*float: left;*/
	/*overflow: hidden;*/
}

.rounds {
	display: inline-block;
}

.rounds-wod {
	max-width: 130px;
	min-width: 30px;
	/*width: 140px;*/
	display: inline-block;
}

.sets-num {
	max-width: 140px;
	min-width: 50px;
	display: inline-block;
}

/*.reps-strength-form {*/
/*	width: 20px;*/
/*	!*display: inline-block;*!*/
/*}*/

.simple-container {
	max-width: 400px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
	/*border-style: solid;*/
	/*border-color: #aaaaaa;*/
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

/*a[href] {*/
/*	color: #1e8ad6;*/
/*}*/

a[href]:hover {
	color: white;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

.box {
     float: left;
     padding: 20px;
     background: #eee;
}

.button {
  background-color: #344663; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 150px;
  min-width: 150px;
}

.button-calendar {
  background-color: #344663; /* Green */
  border: none;
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  max-width: 50px;
  min-width: 50px;
}

select {
  margin: 5px;
  width: 100px;
  /*padding: 5px 35px 5px 5px;*/
  font-size: 16px;
  border: 1px solid #CCC;
  /*!*height: 34px;*!*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE;*/
}

input {
	width: 40px;
	/*padding-left: 0px;*/
	padding: 0;
	margin: auto;
	font-size: 16px;
}

#id_strength_comment {
	width: 100%;
}

#id_wod_comment {
	width: 100%;
}

#id_date{
	width: 120px;
}

/*th, td {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*}*/

td.mon {
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
}

td.tue {
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
}

td.wed {
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
}

td.thu {
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
}

td.fri {
	max-width: 50px;
	min-width: 60px;
	height: 50px;
	vertical-align: top;
}

td.sat {
	background-color: dimgray;
	border-left: 2px;
	border-color: red;
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
}

td.sun {
	background-color: dimgray;
	border-left: 2px;
	border-color: red;
	max-width: 50px;
	min-width: 50px;
	height: 50px;
	vertical-align: top;
	/*max-height: 50px;*/
}

tr.cal-week {
	min-height: 50px;
	max-height: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}