{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wodplannerapp/style.css' %}">

<img src="{% static 'wodplannerapp/images/carabao_logo.png' %}" alt="Carabao" width="256" height="154">

<h1>Neue WODs erstellen</h1>

Wähle den Workout Typ aus:

<table>
    {% for schema in schema_list %}
        <tr>
            <td>{{ schema.schema_name }}</td>
            <td>{{ schema.schema_description }}</td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'wodplannerapp:index' %}">Zurück</a>