{% extends 'wodplannerapp/base.html' %}
{% load static %}
{% block content %}

        <h1>Neue WODs erstellen</h1>

        Wähle den Workout Typ aus:

        <table>
            {% for schema in schema_list %}
                <tr>
                    <td><a href="{% url 'wodplannerapp:definewod' schema.schema_key  %}" class="button">{{ schema.schema_name }}</a></td>
                    <td>{{ schema.schema_description }}</td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'wodplannerapp:index' %}" class="button">Zurück</a>
{% endblock %}