{% extends 'wodplannerapp/base.html' %}
{% load static %}
{% block content %}

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <h1><b>Datum:</b> {{ wod.pub_date|date:'M d, Y' }}</h1>

        <h2>{{ wod.track }}</h2>

        <h2>Strength/Skill:</h2>
        <div>

            <table>
            {% for choice in wod.strengthmovement_set.all %}
                <tr>
                    <td>{{ choice.strength_sets_reps }}</td>
                    <td>{{ choice.strength_movement }}</td>
                </tr>
            {% endfor %}
            </table>

            {% if wod.strength_comment != "-" %}{{ wod.strength_comment }}{% endif %}

            <h2>WOD:</h2>
            {% if wod.wod_schema == "RFT Varying Reps" or wod.wod_schema == "Chipper" or wod.wod_schema == "FGB" or wod.wod_schema == "Death-by"%}
            {{ wod.wod_schema }}
            {% else %}
            {{ wod.wod_time_rounds }} {{ wod.wod_schema }}
            {% endif %}

            <table>
            {% for choice in wod.wodmovement_set.all %}
                <tr>
                    <td>{{ choice.wod_reps }}</td>
                    <td>{{ choice.wod_movement }}</td>
                    <td>{% ifnotequal choice.wod_weight "-" %}{{ choice.wod_weight }}{% endifnotequal %}</td>
                </tr>
            {% endfor %}
            </table>

            {% if wod.wod_comment != "-" %}{{ wod.wod_comment }}{% endif %}
        </div>

        <div>
            <a href="{% url 'wodplannerapp:dayview' wod.pub_date|date:'Y' wod.pub_date|date:'m' wod.pub_date|date:'d' %}" class="button">Zurück</a>
        </div>

{% endblock %}




