<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wodplannerapp/style.css' %}">



<div id="app-content">
    <div class="simple-container">
        <a href="{% url 'wodplannerapp:index' %}"><img src="{% static 'wodplannerapp/images/carabao_logo.png' %}" alt="Carabao" width="256" height="154"></a>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <h1><b>Datum:</b> {{ wod.pub_date|date:'M d, Y' }}</h1>

        <h2>Strength/Skill:</h2>
        <div>

            {% for choice in wod.strengthmovement_set.all %}
                <div>
                    <div class="sets-num">{{ choice.strength_sets_reps }}</div>
                    <div class="mycontent6">{{ choice.strength_movement }}</div>
                </div>
            {% endfor %}

            {% if wod.strength_comment != "-" %}{{ wod.strength_comment }}{% endif %}

            <h2>WOD:</h2>
            {% if wod.wod_schema == "RFT Varying Reps" or wod.wod_schema == "Chipper" or wod.wod_schema == "FGB" or wod.wod_schema == "Death-by"%}
            {{ wod.wod_schema }}
            {% else %}
            {{ wod.wod_time_rounds }} {{ wod.wod_schema }}
            {% endif %}

            {% for choice in wod.wodmovement_set.all %}
                <div>
                    <div class="rounds-wod">{{ choice.wod_reps }}</div>
                    <div class="mycontent6">{{ choice.wod_movement }}</div>
                    <div class="mycontent7">{% ifnotequal choice.wod_weight "-" %}{{ choice.wod_weight }}{% endifnotequal %}</div>
                </div>
            {% endfor %}


            {% if wod.wod_comment != "-" %}{{ wod.wod_comment }}{% endif %}
        </div>
        <div>
            <a href="{% url 'wodplannerapp:wodoverview' %}" class="button">Zurück</a>
        </div>
    </div>
</div>




